.borde_red {
	border: 8px solid white;
	height: 180px;
	background-color: #a5a5b6;
}

.esquina_redonda_izq {
	border-top-left-radius: 35px;
}

.esquina_redonda_der {
	border-top-right-radius: 35px;
}

.esquina_red_abajo_izq {
	border-bottom-left-radius: 35px;
}

.esquina_red_abajo_der {
	border-bottom-right-radius: 35px;
}

.centrado {
	margin: 0px auto;
	text-align: center;
}


#padre{
  position:relative;
  /*background-color: green;*/
}

#h_1, #h_2, #h_3 {
  position: absolute;
  background-color: #FFFB95;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 48%;
  height: 10px;
}

#h_2 {
  top: 260px;
}

#h_3 {
  top: 440px;
}

#v_1, #v_2, #v_3 {
  position: absolute;
  background-color: #FFFB95;
  top: 20px;
  left: 360px;
  right: 0;
  /*margin: 0 auto;*/
  width: 10px;
  height: 500px;	
}

#v_2 {
  left: 550px;
}

#v_3 {
  left: 740px;
}